// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    background-color: $dark-brand;

    &__content {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px 0 20px 0;

        @include respond-below(lg) {
            flex-direction: column;
            padding: 0 20px;
        }
    }

    &__col--40 {
        flex-basis: 30%;
    }

    &__social {

        display: flex;
        flex-direction: row;
        gap: 10px;

        a {
            font-size: 28px;
            text-align: center;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-around;
    }

    &__copyright {
        background-color: $dark-brand;
        color: white;
        padding: 10px;
    }

    &__text {
        &-legales {
            text-align: center;
            margin: 0 auto;

            a {
                color: $brand-color;

                &:hover {
                    color: $light-brand;
                }
            }
        }
    }
}